#site-footer {
  margin-top: 0;
  border-bottom: solid 10px #482ee6;
}

.yolo-footer-widget {
  padding: 100px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media(max-width: 720px) {
    padding: 2em 0;
  }

  img {
    width: auto;
    max-width: 100%;
    margin-bottom: 1em;
  }

  .column-one {
    width: 300px; 
    max-width: 30%;

    @media(max-width: 720px) { 
      margin-bottom: 2em;
      max-width: 100%;
    }
  }

  .column-two {
    display: flex;
    justify-content: end;
    width: 65%;
    max-width: 100%;

    @media(max-width: 720px) {
      width: 100%;
      justify-content: space-between;
    }

    @media(max-width: 550px) {
      flex-wrap: wrap;

      .widget {
        width: 100%;
        margin-right: 0 !important;
      }
    }
  }

  .widget {
    color: #9b9c9f;
    margin-top: 0;
    border-top: 0;

    p,
    li.menu-item > a {
      color: #9b9c9f;
      font-size: .9em;
    }

    .widget-title { 
      font-size: 1em;
      margin-bottom: 1.5rem;
    } 
      
    &:not(:last-child) {
      margin-right: 40px;
    }

    &.widget_nav_menu {
      text-align: center;

      @media(max-width: 550px) {
        text-align: left;
      }
    }
  }
}

.yolo-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  img {
    width: auto;
  }

  > * {
    // width: calc(100% / 3);

    &:nth-child(even) {
      text-align: center;
    }
  }

  .widget { 
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1.5em;

    @media(max-width: 550px) {
      width: 100%;
      text-align: center;

      .widget-content {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.widget-toggle-mobile {
  @media(max-width: 550px) {
    border-bottom: solid 1px #ddd;
  }

  .widget-title {
    
    .toggle-arrow {
      display: none;
      margin-left: 5px;
      font-size: 30px;
    }

    @media(max-width: 550px) {
      display: flex;
      justify-content: space-between;
      align-items: center; 

      .toggle-arrow {
        display: inline-block;
      } 
    }
  }

  @media(max-width: 550px) {
    
    .widget-content {

      > *:not(.widget-title) {
        display: none;
      }
    }

    &--open {
      
      .widget-content {

        > *:not(.widget-title) {
          display: block;
        }
      }
    }
  }
}


.subscrible-section {
  .elementor-widget-form,
  .elementor-widget-text-editor {
      max-width: 510px;
      margin-left: auto;
  }
  .elementor-form-spinner {
      position: absolute;
      top: 4px;
      left: 8px;
  }

  @media(max-width: $break-sm - 0.02) {
      .elementor-container {
          max-width: 510px !important;
      }
  }
}

.elementor-location-footer {
  .footer-top {
    .elementor-widget-text-editor {
      max-width: 400px;
    }
    .elementor-widget-wp-widget-nav_menu {
      ul.menu {
        list-style: none;
        margin: 0;
        padding: 0;
        column-count: 2;
        li {
          display: block;
          font-family: "Exo 2", Sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
          color: $main-color;
          margin: 0 0 15px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: inherit;
            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
    /*.elementor-widget-wp-widget-nav_menu {
      text-align: center;
      padding: 0 20px;
      &:last-child {
        padding-right: 0;
      }
      h5 {
        font-family: "Exo 2", Sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        margin: 0 0 15px;
      }
      ul.menu {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin: 0 0 12px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            display: block;
            font-size: 13px;
            font-weight: 200;
            line-height: 24px;
            color: #FFFFFF;
            &:hover {
              color: #f6b216;
            }
          }
        }
      }
    }*/
  }
  
  @media(max-width: $break-tl - 0.02) {
    .footer-top {
      /*.elementor-widget-text-editor {
        max-width: 420px;
        margin: 0 auto;
      }
      .elementor-widget-wp-widget-nav_menu {
        text-align: center;
        ul.menu li {
          margin-right: 30px;
        }
      }

      .elementor-widget-wp-widget-nav_menu {
        &:last-child {
          padding-right: 20px;
        }
      }*/
    }
  }

  @media(max-width: $break-sm - 0.02) {
    .footer-top {
      .elementor-widget-text-editor {
        margin: 0 auto;
      }
      .elementor-widget-wp-widget-nav_menu {
        text-align: center;
      }
      /*.elementor-widget-wp-widget-nav_menu {
        margin-bottom: 15px !important;
      }*/
    }
  }
}