.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}
input, select, textarea {
    outline: none;
}
select {
    -webkit-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #080913;
    background-image: url(../../images/arrow.png); 
    background-repeat: no-repeat;
    background-position: right 15px center;
    
}

.admin-bar {
    .select2-container--default .select2-dropdown {
        &--above {
            margin-top: 32px;
        }
        &--below { 
            margin-top: 32px;
        }
    }
    @media( max-width: 782.98px ) {
        .select2-container--default .select2-dropdown {
            &--above {
                margin-top: 46px;
            }
            &--below { 
                margin-top: 46px;
            }
        }
    }
}
.select2-container {
    &--default {
        font-family: "Exo 2",Sans-serif;
        .select2-selection--single {
            height: 40px;
            background-color: #080913;
            background-image: url(../../images/arrow.png); 
            background-repeat: no-repeat;
            background-position: right 15px center;
            border: none;
            border-radius: 10px;
            .select2-selection__rendered {
                font-size: 18px;
                font-weight: 400;
                line-height: 40px;
                text-align: left;
                color: #FFFFFF;
                padding: 0 40px 0 20px
            }
            .select2-selection__arrow {
                display: none;
            }
        }
        .select2-dropdown {
            background-color: #080913;
            padding: 10px 0;
            border: none;
            border-radius: 10px;
            &--below {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            &--above {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            .select2-results__option {
                margin: 0;
                padding: 5px 20px;
                &[data-selected=true],
                &--highlighted[data-selected] {
                    background-color: #442bd7;
                }
            }
        }
    }
}

.btn-primary .elementor-button {
    min-width: 240px;
}

.elementor-widget-text-editor {
    .elementor-text-editor,
    .elementor-widget-container {
        > * {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media(max-width: $break-tl - 0.02) {
        .elementor-text-editor,
        .elementor-widget-container {
            > * {
                margin-bottom: 20px;
            }
        }
    }
    @media(max-width: $break-sm - 0.02) {
        .elementor-text-editor,
        .elementor-widget-container {
            > * {
                margin-bottom: 15px;
            }
        }
    }
}

.elementor-widget-form form {
    margin: 0;
    .elementor-field-type-submit button {
        text-decoration: none;
    }
}

.subscrible-form .elementor-form {
    position: relative; 
    margin: 0;
    .elementor-message {
        font-size: 13px;
    }
    .elementor-field-group-email {
        width: calc(100% - 48px);
        input {
            padding: 5px 20px;
            border-color: #20195F;
        }
    }
    .elementor-field-type-submit {
        width: 48px;
        height: 40px;
        .elementor-button {
            padding: 0;
        }
        svg { 
            max-width: unset;
            width: 28px;
        }
    }
}

.contact-form .elementor-form {
    .elementor-message {
        font-size: 13px;
        text-align: center;
    }
    .elementor-field-type-submit {
        margin-top: 20px;
        button {
            min-width: 240px;
        }
    }
}