body.woocommerce-checkout{
    width: 100%;
    background-image: url(../../images/single-merch-page-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    a.post-edit-link{
        display: none;
    }
    #site-content{
        .section-inner{
            max-width: 100%;
            width: 100%;
            overflow: hidden;
            padding-bottom: 70px;
            .entry-header{
                padding-top: 260px;
                @media (max-width: $break-sm){
                    padding-top: 200px;
                }
                @media (max-width: $break-xs){
                    padding-top: 165px;
                }
                .entry-title{
                    max-width: 1320px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: $main-font;
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 38px;
                    color: $main-color;
                    @media (max-width: $break-sm){
                        font-size: 40px;
                    }
                    @media (max-width: $break-xs){
                        font-size: 36px;
                        line-height: 36px;
                    }
                }
            }
            #post-inner{
                .entry-content{
                    max-width: 1320px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .woocommerce-form-coupon-toggle{
        width: 100%;
        .woocommerce-info{
            border-top-color: $main-color;
            font-family: $main-font;
            &::before{
                color: $main-color;
            }
            a{
                color: $secondary-color;
            }
        }
    }

    form.woocommerce-checkout{
        background-color: $main-color-2;
        border: 2px solid $secondary-color;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 25px;
        @media (max-width: $break-xs){
            padding: 20px;
        }
        .woocommerce-shipping-fields{
            .shipping_address{
                .form-row {
                    &.form-row-first, &.form-row-last{
                        width: calc(50% - 5px);
                        @media (max-width: 540px){
                            width: 100%;
                        }
                    }
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                    .selection, .select2-selection{
                        display: flex;
                        align-items: center;
                        align-content: center;
                        width: 100%;
                    }
                    label, .select2-container--default .select2-selection--single .select2-selection__rendered, textarea, input, select, textarea::placeholder, input::placeholder{
                        font-size: 16px;
                        line-height: 25px;
                        letter-spacing: 0;
                        font-weight: 400;
                        font-family: $main-font;
                        color: #fff;
                        @media (max-width: $break-xs){
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                    label{
                        font-weight: 500;
                        margin-bottom: 5px;
                    }
                    input, select, textarea{
                        background-color: #080913;
                        padding: 0px 15px;
                        border: none;
                        width: 100%;
                        border-radius: 10px;
                        height: 45px;
                    }
                }
            }
            > #ship-to-different-address{
                margin-top: 0;
                font-family: $main-font;

            }
            @media (max-width: $break-sm){
                margin-top: 30px;
            }
        }

        .woocommerce-additional-fields{
            #order_comments_field{
                > label{
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 500;
                    font-family: $main-font ;
                    margin-bottom: 5px;
                    @media (max-width: $break-xs){
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
                textarea{
                    background-color: #080913;
                    padding: 10px 15px;
                    border-radius: 10px;
                    border: none;
                    height: 80px;
                }
                textarea, textarea::placeholder{
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 400;
                    font-family: $main-font;
                    @media (max-width: $break-xs){
                        font-size: 14px;
                        line-height: 23px;
                    }
                }
            }
        }

        #order_review_heading{
            font-family: $main-font;
        }
        .woocommerce-checkout-review-order{
            tr{
                th, td, strong, label{
                    font-family: $main-font;
                }
                td{
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 400;
                    @media (max-width: $break-xs){
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
                &.cart-subtotal, &.woocommerce-shipping-totals.shipping, &.order-total{
                    color: $main-color;
                }
              
            }
            .woocommerce-checkout-payment{
                background-color: transparent !important;
                ul.wc_payment_methods{
                    border: none !important;
                    padding: 20px 0 0 0 !important;
                    li.wc_payment_method{
                        input.input-radio{
                            float: left;
                            margin: 8px 15px 0 0 !important;
                            line-height: 30px;
                        }
                        .payment_box {
                            font-family: $main-font;
                        }
                    }
                }
                .form-row.place-order{
                    padding: 0 !important;
                    @media (max-width: $break-sm){
                        padding-top: 20px !important;
                    }
                    button#place_order{
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 500;
                        font-family: $main-font-2;
                        background-color: transparent;
                        color: $main-color !important;
                        border: 2px solid $main-color;
                        border-radius: 10px;
                        box-sizing: border-box;
                        padding: 8px 30px;
                        max-width: 200px;
                        @media (max-width: $break-xs){
                            max-width: 100%;
                        }
                        &:hover{
                            background-color: $main-color;
                            color: #fff !important;
                        }
                    }
                }
            }
        }
        .woocommerce-billing-fields{
            > h3{
                margin: 0 0 25px 0;
                font-family: $main-font;
            }
            .woocommerce-billing-fields__field-wrapper{
                .form-row {
                    &.form-row-first, &.form-row-last{
                        width: calc(50% - 5px);
                        @media (max-width: 540px){
                            width: 100%;
                        }
                    }
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                    .selection, .select2-selection{
                        display: flex;
                        align-items: center;
                        align-content: center;
                        width: 100%;
                    }
                    label, .select2-container--default .select2-selection--single .select2-selection__rendered, textarea, input, select, textarea::placeholder, input::placeholder{
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0;
                        font-weight: 400;
                        font-family: $main-font;
                        color: #fff;
                        @media (max-width: $break-xs){
                            font-size: 14px;
                            line-height: 23px;
                        }
                    }
                    label{
                        font-weight: 500;
                        margin-bottom: 5px;
                    }
                    input, select, textarea{
                        background-color: #080913;
                        padding: 0px 15px;
                        border: none;
                        width: 100%;
                        border-radius: 10px;
                        height: 45px;
                    }
                }
            }
        }
    }
}